{% extends "base.html" %} {% block content %}
<div class="container-fluid property-list">
    <input type="button" value="Interest Rate Options" onclick="showModel2Forms()" class="btn btn-primary m-3">
    <input type="button" value="Inlfation Rate Options" onclick="showModel3Forms()" class="btn btn-primary m-3">
    <input type="button" value="Depreciation Options" onclick="showModel4Forms()" class="btn btn-primary m-3">
    <input type="button" value="Capital Growth Rate Options" onclick="showModel5Forms()" class="btn btn-primary m-3">
    <input type="button" value="Monthly Expenses Options" onclick="showModel6Forms()" class="btn btn-primary m-3">
    <input type="button" value="Own Renovations Options" onclick="showModel7Forms()" class="btn btn-primary m-3">
    <input type="button" value="Loan Renovations Options" onclick="showModel8Forms()" class="btn btn-primary m-3">
    <input type="button" value="Repairs and Maintenance Options" onclick="showModel9Forms()"
        class="btn btn-primary m-3">
    <input type="button" value="Special Expenses Options" onclick="showModel10Forms()" class="btn btn-primary m-3">
    <input type="button" value="Tax Options" onclick="showModel11Forms()" class="btn btn-primary m-3">
    <input type="button" value="Management Expenses Options" onclick="showModel12Forms()" class="btn btn-primary m-3">
    <input type="button" value="Additional Loan Payments Options" onclick="showModel13Forms()"
        class="btn btn-primary m-3">
    <input type="button" value="Capital income Options" onclick="showModel14Forms()" class="btn btn-primary m-3">
    <input type="button" value="Rental income Options" onclick="showModel15Forms()" class="btn btn-primary m-3">
    <input type="button" value="Comparison Options" onclick="showModel16Forms()" class="btn btn-primary m-3">
    <div class="row">
        <div class="col-6">
            <form method="post" class="m-1">
                {% csrf_token %}
                <div id="model2-forms">
                    <h2>Model 2 Forms -- Interest rate options</h2>
                    <div style="display:none;">Property: {{ interestrate_forms.property }}</div>
                    Average Interest: {{ interestrate_forms.averageinterestrate}}
                    <br>
                    Type: {{ interestrate_forms.interest_type }}
                    <br>
                    Term: {{ interestrate_forms.term }}
                    <br>
                    Rates:
                    <br>
                    {{ interestrate_rateforms.management_form }}
                    {% for formone in interestrate_rateforms %}
                    Year {{ forloop.counter }}: {{ formone.interestrate }}
                    <br>
                    {% endfor %}
                </div>
                <div id="model3-forms" style="display:none;">
                    <h2>Model 3 Forms -- Inlfation rate options</h2>
                    {{ inflationrate_rateforms.management_form }}
                    {% for formtwo in inflationrate_rateforms %}
                    Year {{ forloop.counter }}: {{ formtwo.inflationrate }}
                    <br>
                    {% endfor %}
                </div>
                <div id="model4-forms" style="display:none;">
                    <h2>Model 4 -- Depreciation </h2>
                    <div style="display:none;">Property: {{ depreciation_forms.property }}</div>
                    Description: {{ depreciation_forms.description }} <br>
                    Type: {{ depreciation_forms.depreciation_type }} <br>
                    Value: {{ depreciation_forms.value }} <br>
                    Rate: {{ depreciation_forms.rate }} <br>
                    Year: {{ depreciation_forms.years }} <br>
                </div>
                <div id="model5-forms" style="display:none;">
                    <h2>Model 5 Forms -- Capital Growth Rate options</h2>
                    {{ capitalgrowthrate_rateforms.management_form }}
                    {% for formthree in capitalgrowthrate_rateforms %}
                    Year {{ forloop.counter }}: {{ formthree.capitalgrowthrate }}
                    <br>
                    {% endfor %}
                </div>
                <div id="model6-forms" style="display:none;">
                    <h2>Model 6 Forms -- Monthly Expenses</h2>
                    {{ monthlyexpenses_forms.management_form }}
                    Description - Amount <br>
                    {% for formfour in monthlyexpenses_forms %}
                    {{ formfour.monthly_expense_description }} : {{ formfour.value }}
                    <br>
                    {% endfor %}
                </div>
                <div id="model7-forms" style="display:none;">
                    <h2>Model 7 Forms -- Own Renovations</h2>
                    {{ ownrenovations_forms.management_form }}
                    Year - Amount - Income per year<br>
                    {% for formfive in ownrenovations_forms %}
                    {{ forloop.counter }}: {{ formfive.own_renovations_amount }} {{ formfive.own_renovations_income }}
                    <br>
                    {% endfor %}
                </div>
                <div id="model8-forms" style="display:none;">
                    <h2>Model 8 Forms -- Loan Renovations</h2>
                    {{ ownrenovations_forms.management_form }}
                    Year - Amount - Income per year<br>
                    {% for formsix in loanrenovations_forms %}
                    {{ forloop.counter }}: {{ formsix.loan_renovations_amount }} {{ formsix.loan_renovations_income }}
                    <br>
                    {% endfor %}
                </div>
                <div id="model9-forms" style="display:none;">
                    <h2>Model 9 Forms -- Repairs and Maintenance </h2>
                    {{ repairsmaintainences_forms.management_form }}
                    {% for formseven in repairsmaintainences_forms %}
                    {{ forloop.counter }}: {{ formseven.repairsandmaintenance }}
                    <br>
                    {% endfor %}
                </div>
                <div id="model10-forms" style="display:none;">
                    <h2>Model 10 Forms -- Special expenses </h2>
                    {{ specialexpenses_forms.management_form }}
                    {% for formeight in specialexpenses_forms %}
                    {{ forloop.counter }}: {{ formeight.special_expense }}
                    <br>
                    {% endfor %}
                </div>
                <div id="model11-forms" style="display:none;">
                    <h2>Model 11 Forms -- Tax options</h2>
                    <div style="display:none;">Property: {{ taxoptions_forms.property }}</div>
                    Taxation Capacity: {{ taxoptions_forms.taxationcapacity}}
                    <br>
                    Mathod: {{ taxoptions_forms.method }}
                    <br>
                    Tax Rate: {{ taxoptions_forms.taxrate }}
                    <br>
                    Maximum Tax Rate: {{ taxoptions_forms.maximumtaxrate }}
                    <br>
                    Rates:
                    <br>
                    {{ taxoptions_rateforms.management_form }}
                    Income amount - Rate<br>
                    {% for formnine in taxoptions_rateforms %}
                    {{ forloop.counter }}: {{ formnine.tax_options_income_rate }} {{ formnine.tax_options_rate }}
                    <br>
                    {% endfor %}
                </div>
                <div id="model12-forms" style="display:none;">
                    <h2>Model 12 -- Management Expenses options </h2>
                    <div style="display:none;">Property: {{ managementexpense_forms.property }}</div>
                    Vacancy Rate: {{ managementexpense_forms.vacancyrate }} <br>
                    Management Fee: {{ managementexpense_forms.managementfee }} <br>
                    Management Fee per year: {{ managementexpense_forms.managementfeeperyear }} <br>
                </div>
                <div id="model13-forms" style="display:none;">
                    <h2>Model 13 Forms -- Additional Loan Payments</h2>
                    {{ additioanloanpayment_forms.management_form }}
                    Year - Amount <br>
                    {% for formten in additioanloanpayment_forms %}
                    {{ forloop.counter }}:{{ formten.additonalloanpayment }}
                    <br>
                    {% endfor %}
                </div>
                <div id="model14-forms" style="display:none;">
                    <h2>Model 14 Forms -- Capital Income options</h2>
                    {{ capitalincome_forms.management_form }}
                    {% for formeleven in capitalincome_forms %}
                    {{ forloop.counter }}:{{ formeleven.capital_income }}
                    <br>
                    {% endfor %}
                </div>

                <div id="model15-forms" style="display:none;">
                    <h2>Model 15 Forms -- rental Income options</h2>
                    <div style="display:none;">Property: {{ rentalincome_forms.property }}</div>
                    Rental Income Increase Type: {{ rentalincome_forms.rentalincreasetype}}
                    <br>
                    Increase Percentage: {{ rentalincome_forms.increasepercentage }}
                    <br>
                    Average Income per month: {{ rentalincome_forms.averagerentalincomepermonth }}
                    <br>
                    Amount:
                    <br>
                    {{ rentalincomeamounts_form.management_form }}
                    Rental amount - Rate<br>
                    {% for formtwelve in rentalincomeamounts_form %}
                        {{ forloop.counter }}: {{ formtwelve.rental_income }}
                    <br>
                    {% endfor %}
                </div>
                <div id="model16-forms" style="display:none;">
                    <h2>Model 16 Forms -- Comparison</h2>
                    <div style="display:none;">Property: {{ comparison_form.property }}</div>
                    Description: {{ comparison_form.description }}
                    Rate: {{ comparison_form.comparison_rate }}
                </div>

                {% if form.errors %}
                <ul>
                    {% for field in form %}
                    {% for error in field.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                    {% endfor %}
                </ul>
                {% endif %}
                <input type="submit" value="Save" class="btn btn-primary m-3">
            </form>

        </div>
    </div>
</div>
<script>
    function showModel2Forms() {
        document.getElementById("model2-forms").style.display = "block";
        document.getElementById("model3-forms").style.display = "none";
        document.getElementById("model4-forms").style.display = "none";
        document.getElementById("model5-forms").style.display = "none";
        document.getElementById("model6-forms").style.display = "none";
        document.getElementById("model7-forms").style.display = "none";
        document.getElementById("model8-forms").style.display = "none";
        document.getElementById("model9-forms").style.display = "none";
        document.getElementById("model10-forms").style.display = "none";
        document.getElementById("model11-forms").style.display = "none";
        document.getElementById("model12-forms").style.display = "none";
        document.getElementById("model13-forms").style.display = "none";
        document.getElementById("model14-forms").style.display = "none";
        document.getElementById("model15-forms").style.display = "none";
        document.getElementById("model16-forms").style.display = "none";
    }

    function showModel3Forms() {
        document.getElementById("model2-forms").style.display = "none";
        document.getElementById("model3-forms").style.display = "block";
        document.getElementById("model4-forms").style.display = "none";
        document.getElementById("model5-forms").style.display = "none";
        document.getElementById("model6-forms").style.display = "none";
        document.getElementById("model7-forms").style.display = "none";
        document.getElementById("model8-forms").style.display = "none";
        document.getElementById("model9-forms").style.display = "none";
        document.getElementById("model10-forms").style.display = "none";
        document.getElementById("model11-forms").style.display = "none";
        document.getElementById("model12-forms").style.display = "none";
        document.getElementById("model13-forms").style.display = "none";
        document.getElementById("model14-forms").style.display = "none";
        document.getElementById("model15-forms").style.display = "none";
        document.getElementById("model16-forms").style.display = "none";
    }

    function showModel4Forms() {
        document.getElementById("model2-forms").style.display = "none";
        document.getElementById("model3-forms").style.display = "none";
        document.getElementById("model4-forms").style.display = "block";
        document.getElementById("model5-forms").style.display = "none";
        document.getElementById("model6-forms").style.display = "none";
        document.getElementById("model7-forms").style.display = "none";
        document.getElementById("model8-forms").style.display = "none";
        document.getElementById("model9-forms").style.display = "none";
        document.getElementById("model10-forms").style.display = "none";
        document.getElementById("model11-forms").style.display = "none";
        document.getElementById("model12-forms").style.display = "none";
        document.getElementById("model13-forms").style.display = "none";
        document.getElementById("model14-forms").style.display = "none";
        document.getElementById("model15-forms").style.display = "none";
        document.getElementById("model16-forms").style.display = "none";
    }

    function showModel5Forms() {
        document.getElementById("model2-forms").style.display = "none";
        document.getElementById("model3-forms").style.display = "none";
        document.getElementById("model4-forms").style.display = "none";
        document.getElementById("model5-forms").style.display = "block";
        document.getElementById("model6-forms").style.display = "none";
        document.getElementById("model7-forms").style.display = "none";
        document.getElementById("model8-forms").style.display = "none";
        document.getElementById("model9-forms").style.display = "none";
        document.getElementById("model10-forms").style.display = "none";
        document.getElementById("model11-forms").style.display = "none";
        document.getElementById("model12-forms").style.display = "none";
        document.getElementById("model13-forms").style.display = "none";
        document.getElementById("model14-forms").style.display = "none";
        document.getElementById("model15-forms").style.display = "none";
        document.getElementById("model16-forms").style.display = "none";
    }

    function showModel6Forms() {
        document.getElementById("model2-forms").style.display = "none";
        document.getElementById("model3-forms").style.display = "none";
        document.getElementById("model4-forms").style.display = "none";
        document.getElementById("model5-forms").style.display = "none";
        document.getElementById("model6-forms").style.display = "block";
        document.getElementById("model7-forms").style.display = "none";
        document.getElementById("model8-forms").style.display = "none";
        document.getElementById("model9-forms").style.display = "none";
        document.getElementById("model10-forms").style.display = "none";
        document.getElementById("model11-forms").style.display = "none";
        document.getElementById("model12-forms").style.display = "none";
        document.getElementById("model13-forms").style.display = "none";
        document.getElementById("model14-forms").style.display = "none";
        document.getElementById("model15-forms").style.display = "none";
        document.getElementById("model16-forms").style.display = "none";
    }

    function showModel7Forms() {
        document.getElementById("model2-forms").style.display = "none";
        document.getElementById("model3-forms").style.display = "none";
        document.getElementById("model4-forms").style.display = "none";
        document.getElementById("model5-forms").style.display = "none";
        document.getElementById("model6-forms").style.display = "none";
        document.getElementById("model7-forms").style.display = "block";
        document.getElementById("model8-forms").style.display = "none";
        document.getElementById("model9-forms").style.display = "none";
        document.getElementById("model10-forms").style.display = "none";
        document.getElementById("model11-forms").style.display = "none";
        document.getElementById("model12-forms").style.display = "none";
        document.getElementById("model13-forms").style.display = "none";
        document.getElementById("model14-forms").style.display = "none";
        document.getElementById("model15-forms").style.display = "none";
        document.getElementById("model16-forms").style.display = "none";
    }

    function showModel8Forms() {
        document.getElementById("model2-forms").style.display = "none";
        document.getElementById("model3-forms").style.display = "none";
        document.getElementById("model4-forms").style.display = "none";
        document.getElementById("model5-forms").style.display = "none";
        document.getElementById("model6-forms").style.display = "none";
        document.getElementById("model7-forms").style.display = "none";
        document.getElementById("model8-forms").style.display = "block";
        document.getElementById("model9-forms").style.display = "none";
        document.getElementById("model10-forms").style.display = "none";
        document.getElementById("model11-forms").style.display = "none";
        document.getElementById("model12-forms").style.display = "none";
        document.getElementById("model13-forms").style.display = "none";
        document.getElementById("model14-forms").style.display = "none";
        document.getElementById("model15-forms").style.display = "none";
        document.getElementById("model16-forms").style.display = "none";
    }

    function showModel9Forms() {
        document.getElementById("model2-forms").style.display = "none";
        document.getElementById("model3-forms").style.display = "none";
        document.getElementById("model4-forms").style.display = "none";
        document.getElementById("model5-forms").style.display = "none";
        document.getElementById("model6-forms").style.display = "none";
        document.getElementById("model7-forms").style.display = "none";
        document.getElementById("model8-forms").style.display = "none";
        document.getElementById("model9-forms").style.display = "block";
        document.getElementById("model10-forms").style.display = "none";
        document.getElementById("model11-forms").style.display = "none";
        document.getElementById("model12-forms").style.display = "none";
        document.getElementById("model13-forms").style.display = "none";
        document.getElementById("model14-forms").style.display = "none";
        document.getElementById("model15-forms").style.display = "none";
        document.getElementById("model16-forms").style.display = "none";
    }

    function showModel10Forms() {
        document.getElementById("model2-forms").style.display = "none";
        document.getElementById("model3-forms").style.display = "none";
        document.getElementById("model4-forms").style.display = "none";
        document.getElementById("model5-forms").style.display = "none";
        document.getElementById("model6-forms").style.display = "none";
        document.getElementById("model7-forms").style.display = "none";
        document.getElementById("model8-forms").style.display = "none";
        document.getElementById("model9-forms").style.display = "none";
        document.getElementById("model10-forms").style.display = "block";
        document.getElementById("model11-forms").style.display = "none";
        document.getElementById("model12-forms").style.display = "none";
        document.getElementById("model13-forms").style.display = "none";
        document.getElementById("model14-forms").style.display = "none";
        document.getElementById("model15-forms").style.display = "none";
        document.getElementById("model16-forms").style.display = "none";
    }

    function showModel11Forms() {
        document.getElementById("model2-forms").style.display = "none";
        document.getElementById("model3-forms").style.display = "none";
        document.getElementById("model4-forms").style.display = "none";
        document.getElementById("model5-forms").style.display = "none";
        document.getElementById("model6-forms").style.display = "none";
        document.getElementById("model7-forms").style.display = "none";
        document.getElementById("model8-forms").style.display = "none";
        document.getElementById("model9-forms").style.display = "none";
        document.getElementById("model10-forms").style.display = "none";
        document.getElementById("model11-forms").style.display = "block";
        document.getElementById("model12-forms").style.display = "none";
        document.getElementById("model13-forms").style.display = "none";
        document.getElementById("model14-forms").style.display = "none";
        document.getElementById("model15-forms").style.display = "none";
        document.getElementById("model16-forms").style.display = "none";
    }

    function showModel12Forms() {
        document.getElementById("model2-forms").style.display = "none";
        document.getElementById("model3-forms").style.display = "none";
        document.getElementById("model4-forms").style.display = "none";
        document.getElementById("model5-forms").style.display = "none";
        document.getElementById("model6-forms").style.display = "none";
        document.getElementById("model7-forms").style.display = "none";
        document.getElementById("model8-forms").style.display = "none";
        document.getElementById("model9-forms").style.display = "none";
        document.getElementById("model10-forms").style.display = "none";
        document.getElementById("model11-forms").style.display = "none";
        document.getElementById("model12-forms").style.display = "block";
        document.getElementById("model13-forms").style.display = "none";
        document.getElementById("model14-forms").style.display = "none";
        document.getElementById("model15-forms").style.display = "none";
        document.getElementById("model16-forms").style.display = "none";
    }

    function showModel13Forms() {
        document.getElementById("model2-forms").style.display = "none";
        document.getElementById("model3-forms").style.display = "none";
        document.getElementById("model4-forms").style.display = "none";
        document.getElementById("model5-forms").style.display = "none";
        document.getElementById("model6-forms").style.display = "none";
        document.getElementById("model7-forms").style.display = "none";
        document.getElementById("model8-forms").style.display = "none";
        document.getElementById("model9-forms").style.display = "none";
        document.getElementById("model10-forms").style.display = "none";
        document.getElementById("model11-forms").style.display = "none";
        document.getElementById("model12-forms").style.display = "none";
        document.getElementById("model13-forms").style.display = "block";
        document.getElementById("model14-forms").style.display = "none";
        document.getElementById("model15-forms").style.display = "none";
        document.getElementById("model16-forms").style.display = "none";
    }

    function showModel14Forms() {
        document.getElementById("model2-forms").style.display = "none";
        document.getElementById("model3-forms").style.display = "none";
        document.getElementById("model4-forms").style.display = "none";
        document.getElementById("model5-forms").style.display = "none";
        document.getElementById("model6-forms").style.display = "none";
        document.getElementById("model7-forms").style.display = "none";
        document.getElementById("model8-forms").style.display = "none";
        document.getElementById("model9-forms").style.display = "none";
        document.getElementById("model10-forms").style.display = "none";
        document.getElementById("model11-forms").style.display = "none";
        document.getElementById("model12-forms").style.display = "none";
        document.getElementById("model13-forms").style.display = "none";
        document.getElementById("model14-forms").style.display = "block";
        document.getElementById("model15-forms").style.display = "none";
        document.getElementById("model16-forms").style.display = "none";
    }

    function showModel15Forms() {
        document.getElementById("model2-forms").style.display = "none";
        document.getElementById("model3-forms").style.display = "none";
        document.getElementById("model4-forms").style.display = "none";
        document.getElementById("model5-forms").style.display = "none";
        document.getElementById("model6-forms").style.display = "none";
        document.getElementById("model7-forms").style.display = "none";
        document.getElementById("model8-forms").style.display = "none";
        document.getElementById("model9-forms").style.display = "none";
        document.getElementById("model10-forms").style.display = "none";
        document.getElementById("model11-forms").style.display = "none";
        document.getElementById("model12-forms").style.display = "none";
        document.getElementById("model13-forms").style.display = "none";
        document.getElementById("model14-forms").style.display = "none";
        document.getElementById("model15-forms").style.display = "block";
        document.getElementById("model16-forms").style.display = "none";
    }

    function showModel16Forms() {
        document.getElementById("model2-forms").style.display = "none";
        document.getElementById("model3-forms").style.display = "none";
        document.getElementById("model4-forms").style.display = "none";
        document.getElementById("model5-forms").style.display = "none";
        document.getElementById("model6-forms").style.display = "none";
        document.getElementById("model7-forms").style.display = "none";
        document.getElementById("model8-forms").style.display = "none";
        document.getElementById("model9-forms").style.display = "none";
        document.getElementById("model10-forms").style.display = "none";
        document.getElementById("model11-forms").style.display = "none";
        document.getElementById("model12-forms").style.display = "none";
        document.getElementById("model13-forms").style.display = "none";
        document.getElementById("model14-forms").style.display = "none";
        document.getElementById("model15-forms").style.display = "none";
        document.getElementById("model16-forms").style.display = "block";
    }
</script>
{% endblock %}