{% extends "base.html" %} {% block content %}

<div class="container-fluid property-item-page">
    <div class="jumbotron m-4 pt-2">
        <div class="item-page">
            <div class="row">
                <div class="col-4 mt-4">
                    <h1 class="dark:text-gray-700">{{property_obj.name}}</h1>
                    <h5>Property Type - <span class="small">{{ property_obj.property_type }}</span></h5>
                    <h5>Purchase date - <span class="small">{{ property_obj.purchase_date }}</span></h5>
                    <h5>Purchase price - <span class="small">{{ property_obj.purchase_price }}</span></h5>
                    <h5>Deposit - <span class="small">{{ property_obj.deposit }}</span></h5>
                    <h5>Location - <span
                            class="small">{{ property_obj.City }}, {{ property_obj.City.country }}</span></h5>
                    <h5>Other costs - <span class="small">{{ property_obj.other_cost }}</span></h5>
                    <h5>Notes - <span class="small">{{ property_obj.notes }}</span></h5>
                    <h5>
                        <a href="{% url 'editproperty' property_obj.pk %}" class="btn btn-dark">Edit this Property</a>
                    </h5>
                    <h5>
                        <a href="" class="btn btn-dark">Delete this Property</a>
                        <a href="" class="btn btn-dark">See all properties</a>
                    </h5>
                    <h5 class="text-center">See  property details</h5>
                    <ul>
                      <li> <button class="btn btn-primary m-2" onclick="show_results()">Results</button> </li>
                      <li> <button href="" class="btn btn-primary m-2">Photograpgh</button> </li>
                      <li> <button class="btn  btn-primary m-2" onclick="show_value()">Value</button> </li>
                      <li> <button class="btn btn-primary m-2">Interest Bill</button> </li>
                      <li> <button class="btn btn-primary m-2">Cash Flow</button> </li>
                    </ul>
                    <br>
                    {% for i in images %}
                    <p>
                        <a class="btn btn-dark btn-lg btn-block" data-toggle="collapse" href="#collapseExample"
                           role="button"
                           aria-expanded="false" aria-controls="collapseExample">
                            View Image
                        </a>
                    </p>
                    <div class="collapse" id="collapseExample">
                        <div class="card card-body">
                            <img class="d-block w-100 property-img-page" src="{{i.image.url}}" alt="Third slide">
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="col-8 mt-4" id="results_page" style="display:block;">
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col"></th>
                            <th scope="col">YEAR 1</th>
                            <th scope="col">YEAR 2</th>
                            <th scope="col">YEAR 3</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row"></th>
                            <td>Property Value</td>
                            {% for value in property_obj.property_value_list|slice:":3" %}
                                <td>{{ value }}</td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <th scope="row"></th>
                            <td>Loan Amount</td>
                            {% for value in property_obj.loan_amount_list|slice:":3" %}
                                <td>{{ value }}</td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <th scope="row"></th>
                            <td>Equity</td>
                            {% for value in property_obj.equity_list|slice:":3" %}
                                <td>{{ value }}</td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <th scope="row"></th>
                            <td>Gross Rental Income</td>
                            {% for value in property_obj.gross_rental_income_list|slice:":3" %}
                                <td>{{ value }}</td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <th scope="row"></th>
                            <td>Loan Principal</td>
                            {% for value in property_obj.loan_principle_list|slice:":3" %}
                                <td>{{ value }}</td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <th scope="row"></th>
                            <td>Loan Interest</td>
                            {% for value in property_obj.loan_interest_list|slice:":3" %}
                                <td>{{ value }}</td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <th scope="row"></th>
                            <td>Total Loan Payment</td>
                            {% for value in property_obj.total_loan_payment_list|slice:":3" %}
                                <td>{{ value }}</td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <th scope="row"></th>
                            <td>Additional Loan Payments</td>
                            {% for value in property_obj.additional_loan_payment_list|slice:":3" %}
                                <td>{{ value }}</td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <th scope="row"></th>
                            <td>Renovations (Own Pocket)</td>
                            {% for value in property_obj.renovations_own_list|slice:":3" %}
                                <td>{{ value }}</td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <th scope="row"></th>
                            <td>Renovations (Loan)</td>
                            {% for value in property_obj.renovations_loan_list|slice:":3" %}
                                <td>{{ value }}</td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <th scope="row"></th>
                            <td>Repairs & Maintenance</td>
                            {% for value in property_obj.repairs_and_maintenance_list|slice:":3" %}
                                <td>{{ value }}</td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <th scope="row"></th>
                            <td>Special Expenses</td>
                            {% for value in property_obj.special_expenses_list|slice:":3" %}
                                <td>{{ value }}</td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <th scope="row"></th>
                            <td>Property Expenses</td>
                            {% for value in property_obj.property_expenses_list|slice:":3" %}
                                <td>{{ value }}</td>
                            {% endfor %}
                        </tr>
                        <tr>
                        <tr>
                            <th scope="row"></th>
                            <td>Total Property Expenses</td>
                            {% for value in property_obj.total_property_expenses_list|slice:":3" %}
                                <td>{{ value }}</td>
                            {% endfor %}
                        </tr>
                        <tr>
                        <tr>
                            <th scope="row"></th>
                            <td>Capital Received</td>
                            {% for value in property_obj.capital_received_list|slice:":3" %}
                                <td>{{ value }}</td>
                            {% endfor %}
                        </tr>
                        <tr>
                        <tr>
                            <th scope="row"></th>
                            <td>Pre Tax Cashflow</td>
                            {% for value in property_obj.pre_tax_cashflow_list|slice:":3" %}
                                <td>{{ value }}</td>
                            {% endfor %}
                        </tr>
                        <tr>
                        <tr>
                            <th scope="row"></th>
                            <td>Intitial Capital Outflow</td>
                            {% for value in property_obj.initial_capital_outflow_list|slice:":3" %}
                                <td>{{ value }}</td>
                            {% endfor %}
                        </tr>
                        <tr>
                        <tr>
                            <th scope="row"></th>
                            <td>Pre Tax Cash On Cash</td>
                            {% for value in property_obj.pre_tax_cashoncash_list|slice:":3" %}
                                <td>{{ value }}</td>
                            {% endfor %}
                        </tr>
                        <tr>
                        <tr>
                            <th scope="row"></th>
                            <td>Total Taxable Deductions</td>
                            {% for value in property_obj.total_taxable_deductions_list|slice:":3" %}
                                <td>{{ value }}</td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <th scope="row"></th>
                            <td>Depreciation</td>
                            {% for value in property_obj.depreciation_list|slice:":3" %}
                                <td>{{ value }}</td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <th scope="row"></th>
                            <td>Taxable amount</td>
                            {% for value in property_obj.taxable_amaount_list|slice:":3" %}
                                <td>{{ value }}</td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <th scope="row"></th>
                            <td>Tax Credit</td>
                            {% for value in property_obj.tax_credit_list|slice:":3" %}
                                <td>{{ value }}</td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <th scope="row"></th>
                            <td>After Tax Cash Flow</td>
                            {% for value in property_obj.after_tax_cashflow_list|slice:":3" %}
                                <td>{{ value }}</td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <th scope="row"></th>
                            <td>After Tax Cash on Cash</td>
                            {% for value in property_obj.after_tax_cashoncash_list|slice:":3" %}
                                <td>{{ value }}</td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <th scope="row"></th>
                            <td>Income Per month</td>
                            {% for value in property_obj.income_per_month_list|slice:":3" %}
                                <td>{{ value }}</td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <td></td>
                            <td>IRR</td>
                            {% for value in property_obj.irr_list|slice:":3" %}
                                <td>{{ value }}</td>
                            {% endfor %}
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-8 mt-4" id="value_page" style="display:none;">
                    <table>
                        <thead>
                            <tr>
                                <th scope="col"></th>
                                <th scope="col">Growth Rate</th>
                                <th scope="col">Property Value</th>
                                <th scope="col">Outstanding</th>
                                <th scope="col">Equity</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for growth_rate, property_value, outstanding, equity in zipped_lists %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ growth_rate }}</td>
                                <td>{{ property_value }}</td>
                                <td>{{ outstanding}}</td>
                                <td>{{ outstanding}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function show_results(){
        document.getElementById("results_page").style.display = "block";
        document.getElementById("value_page").style.display = "none";
    }
    function show_value(){
        document.getElementById("results_page").style.display = "none";
        document.getElementById("value_page").style.display = "block";
    }
</script>

{% endblock %}